.calendardiv {
    display: flex;
    text-align: left;
    justify-content: left;
    padding: 10px;
    margin: 5px;
}

.tododiv {
    display: flex;
    padding: 10px;
    margin: 5px;
    text-align: left;
    align-content: center;
    justify-content: right;
}

.Calendar {
    width: 40%;
    height: 40%;
    text-align: left;
    justify-content: left;
    align-content: left;
    font-size: 1.2rem;
}

.CalendarTitle {
    text-align: left;
    margin-left: 30px;
    font-size: 1.5rem;
}

.CalendarUl {
    list-style-position: outside;
    margin-left: 10px;
    font-family: "LineSeedENrg";
}

/* .CalendarText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
} */

.Todo {
    width: 40%;
    height: 40%;
}

.TodoTitle {
    font-size: 1.5rem;
    margin-left: 20px;
}

.TodoText {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
    font-family: "LineSeedENrg";
}

.blankbox {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.2rem;
}

.blanktext {
margin-left: 0.5rem;
text-align: left;
}
.checkbox {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    /* flex: 1; */
}
.checktext {
    color: #FF6416;
    margin-left: 0.5rem;
    text-decoration: line-through;
}
