.clock {
    justify-content: center;
    text-align: center;
}

.time {
    display: flex;
    justify-content: center;
}

.ampm {
    font-size: small;
    margin: 3px;
}

.date {
    font-size: 1.2rem;
}
