.temp {
  font-family: "kangwongyoyukmodulight";
  font-size: 1.2rem;
}

.weatherimg {
  font-weight: 50;
}

.city {
  font-family: "kangwongyoyukmodulight";
  font-size: 1.2rem;
}

.weather {
  display: flex;
  justify-items: center;
  text-align: center;
}